In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('../../trimmed.csv')

/var/folders/x5/kk64h6tj397cpb7qk5rt71740000gp/T/ipykernel_92966/398214673.py:1: DtypeWarning: Columns (16,18,19,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../trimmed.csv')

In [3]:
df

,Unnamed: 0,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,0,1656705600,2022-07-01 16:00,2022-07-01,16.0,138.90,2022-07-01,1656705600,0.0,1.00000,...,0.020000,-0.00093,0.00004,0.00011,-0.00547,0.0,4.889460,0.000000,68.9,0.496
1,1,1656705600,2022-07-01 16:00,2022-07-01,16.0,138.90,2022-07-01,1656705600,0.0,1.00000,...,0.010000,-0.00066,0.00001,0.00061,-0.00491,0.0,4.422080,0.000000,63.9,0.460
2,2,1656705600,2022-07-01 16:00,2022-07-01,16.0,138.90,2022-07-01,1656705600,0.0,1.00000,...,0.010000,-0.00108,0.00009,-0.00012,-0.00455,0.0,3.984220,0.000000,58.9,0.424
3,3,1656705600,2022-07-01 16:00,2022-07-01,16.0,138.90,2022-07-01,1656705600,0.0,1.00000,...,0.010000,-0.00100,0.00015,-0.00018,-0.00525,0.0,3.571790,0.000000,53.9,0.388
4,4,1656705600,2022-07-01 16:00,2022-07-01,16.0,138.90,2022-07-01,1656705600,0.0,0.99404,...,0.010000,-0.00138,0.00014,0.00025,-0.00453,0.0,3.180820,0.000000,48.9,0.352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174962,475522,1664568000,2022-09-30 16:00,2022-09-30,16.0,138.09,2023-03-17,1679083200,168.0,0.00762,...,112.25,-1.00000,0.00000,0.00000,0.00000,0.0,,0.000000,121.9,0.883
174963,475523,1664568000,2022-09-30 16:00,2022-09-30,16.0,138.09,2023-03-17,1679083200,168.0,0.00537,...,0.0,-1.00000,0.00000,0.00000,0.00000,0.0,,,131.9,0.955
174964,475524,1664568000,2022-09-30 16:00,2022-09-30,16.0,138.09,2023-03-17,1679083200,168.0,0.00471,...,134.4,-1.00000,0.00000,0.00000,0.00000,0.0,,0.000000,141.9,1.028
174965,475525,1664568000,2022-09-30 16:00,2022-09-30,16.0,138.09,2023-03-17,1679083200,168.0,0.00433,...,119.47,-1.00000,0.00000,0.00000,0.00000,0.0,,0.000000,151.9,1.100
174966,475526,1664568000,2022-09-30 16:00,2022-09-30,16.0,138.09,2023-03-17,1679083200,168.0,0.00304,...,148.78,-1.00000,0.00000,0.00000,0.00000,0.0,,0.000000,161.9,1.173